[submodule "libultraship"]
	path = libultraship
	url = https://github.com/PalindromicBreadLoaf/libultraship-switch.git
	branch = NX-Diffuser
[submodule "torch"]
	path = torch
	url = https://github.com/Zorkats/Torch.git
[submodule "decomp"]
	path = decomp
	url = https://github.com/PalindromicBreadLoaf/fzerox.git
	branch = switch
[submodule "fzerox-expansion-kit"]
	path = fzerox-expansion-kit
	url = https://github.com/Zorkats/fzerox-expansion-kit.git
